<h1>Mi familia es: </h1>
<h2>
Familiar 1: </h2>
Nombre completo: {{familiar_1.nombre}} {{familiar_1.apellido}}
<br>
Correo: {{familiar_1.correo}}
<br>
Edad: {{familiar_1.edad}}
<br>
Año de Nacimiento: {{familiar_1.fecha_de_nacimiento}}

<h2>
Familiar 2: </h2>
Nombre completo: {{familiar_2.nombre}} {{familiar_2.apellido}}
<br>
Correo: {{familiar_2.correo}}
<br>
Edad: {{familiar_2.edad}}
<br>
Año de Nacimiento: {{familiar_2.fecha_de_nacimiento}}

<h2>
Familiar 3: </h2>
Nombre completo: {{familiar_3.nombre}} {{familiar_3.apellido}}
<br>
Correo: {{familiar_3.correo}}
<br>
Edad: {{familiar_3.edad}}
<br>
Año de Nacimiento: {{familiar_3.fecha_de_nacimiento}}